@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root{
    --dark-blue: #190539;
    --light-grey: #b0b0b0;
    --almost-black: #151515;
    --almost-white: #fafafa;
    --dark-grey: #606060;
    --header-bg: rgba(23, 119, 100, 0.85);
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
}
